name: Build Resume PDF

on:
  push:
    paths:
      - "resume.md"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Pandoc
        run: sudo apt-get install -y pandoc texlive-latex-base

      - name: Convert Markdown to PDF
        run: pandoc resume.md -o resume.pdf

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v3
        with:
          name: resume-pdf
          path: resume.pdf
