name: Build Resume PDF

on:
  workflow_dispatch:
  push:
    paths:
      - "resume.md"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Pandoc
        run: sudo apt-get install -y pandoc texlive-latex-base texlive-fonts-recommended texlive-latex-extra texlive-latex-recommended

      - name: Convert Markdown to PDF
        run: pandoc resume.md -o resume.pdf --pdf-engine=lualatex

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: resume-pdf
          path: resume.pdf
